body {
  padding: 40px 20px;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-family: Helvetica, 'Arial', sans-serif;
}

#root {
  margin: auto;
  text-align: center;
}

.main-logo {
  width: 150px;
}

.container {
  display: inline-block;
  padding: 20px;
}

.main-title {
  opacity: 0.4;
  font-size: 3em;
}